html {
	width:100%; height:100%;
	overflow:hidden;
}

body {
	width:100%; height:100%;
	-webkit-text-size-adjust: 100%;
	zoom:1;
	background:#fff; 
	color:$black;
	overflow:hidden;
	-webkit-font-smoothing: antialiased;
	text-wrap: pretty;
	background: $bg;
	@include mobile {
		// overflow:auto;
		// overflow-x:hidden;
		padding-bottom:2.5vw;
	}
}

a {color:$black; border:0; text-decoration:none;}
a:hover {color:$black; border:0; text-decoration:none;}
::selection {background:#ddd; color:$black; text-shadow: none;}

body * {
	text-wrap:pretty;
	-webkit-text-highlight-color: transparent;
}

a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
